@import "tailwindcss";

@theme {
  --color-liqtrade-green: #2ECF81;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--text-xl) /* 1.25rem = 20px */;
  line-height: var(--tw-leading, var(--text-xl--line-height) /* calc(1.75 / 1.25) ≈ 1.4 */);
}
